@charset"utf-8";
body{
	width:100%;
	min-width: 400px;
}
#face{
	width: 400px;
	margin: 0 auto;
}
#face h1{
	border: 1px dashed #ccc;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-align: center;
}
#face img{
	width: 102px;
	height: 102px;
	margin: 0 0 0 20px;
	cursor: pointer;
}