@charset"utf-8";
#infor{
	width: 1261px;
	height: 800px;
	border: 1px solid red;
	border-radius: 10px;
	margin: 10px 0;
}
#infor_list{
	display: inline-block;
	border-right: 1px solid red;
	width: 25%;
	height: 100%;
	border-radius: 10px 0 0 10px;
	background-color: silver;
	position: relative;
}
#infor_list ul{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
}
#infor_list ul li{
	padding: 9px 0;
	text-align: center;
	height:20px;
	line-height: 20px;
	font-size: 17px;
	letter-spacing: 5px;
	border-bottom: 1px solid red;
}
#newpage{
	display: inline-block;
	width: 74%;
	height: 100%;
	float: right;
}