<extend name="basic" />
<block name="title"><title>bbs首页</title></block>
<block name="link"><link rel="stylesheet" href="__PUBLIC__/Css/index.css"></block>
<block name="src"><script src="__PUBLIC__/Js/index.js" type="text/javascript" charset="utf-8" async defer></script></block>
<block name="main">	
	<div id="list">
		<div class="list_list">
			<h2>帖子列表</h2>
		</div>
	</div>
	<div id="user">
		<div class="user_list">
			<h2>新进会员</h2>
		</div>
		<img src="__PUBLIC__/Images/show-r.jpg" id="bgr">
		<?php _showre(); ?>
		
	</div>
	<div id="pics">
		<div class="pics_list">
			<h2>图片展示</h2>
		</div>
	</div>
</block> 